/* Regular @import url statements work as you'd expect them to -- alternatively
you can import locally, and they wind up in the resulting bundle */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Oswald:700');

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}
